body{
    background-image: url(fotograf/arkaplan.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#container{
    width: 500px;
    margin-top: 250px;
    opacity: 0.9;
}